In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
DIR = 'D:/AgoraHack/agorahack-case1-team0/'

with open('./agora_hack_products/agora_hack_products.json', encoding='utf-8') as f:
   prdct = json.load(f)

df = pd.DataFrame.from_dict(prdct, orient='columns')

In [3]:
df.sample(3)

,product_id,name,props,is_reference,reference_id
1605,7cbb6215019352ec,Профессиональный фен BaByliss PRO Caruso BAB65...,"[Мощность\t2400 Вт, Число режимов нагрева\t3, ...",False,df8dbcf0d4e381e6
1916,95ca3f99938574bb,Робот-пылесос Xiaomi Mi Robot Vacuum-Mop 2 Lit...,"[Управление со смартфона\tда, Тип контейнера\...",False,d4ebc4a26700d5e0
1189,5dbb920b76664dae,Настенная сплит-система Jax ACiU-08HE,[Мощность охлаждения\t2050 Вт / обогрева: 2550...,False,a38aa64a14594b32

In [4]:
test = df.drop(['is_reference', 'reference_id'], axis = 1)

In [5]:
test.sample()

,product_id,name,props
2555,c9634b0b93d1bafc,Сплит-система General Climate GC-RE12HR / GU-R...,"[Инверторный\tда, Особенности таймер включения..."

In [6]:
with open('./output/res.json', encoding='utf-8') as f:
   tst = json.load(f)

test_pred = pd.DataFrame.from_dict(tst, orient='columns')

In [7]:
test_pred.sample()

                   id      reference_id
110  07595834e2ac11c2  47355d644fa375b2

In [8]:
test_pred = test_pred.rename (columns= {'reference_id': 'reference_id_pred'})

In [9]:
test_pred.shape

(200, 2)

In [10]:
test_pred['reference_id_pred'].value_counts()

74d0d86e83e8cfbd    4
8f9c8fcf9cb2862c    3
05cb692a7fd6c0e6    3
6ba3b74a1ca138cf    2
6b423ba12a723c38    2
                   ..
a51a43ae8ef6ec5d    1
46889124439ddfa4    1
d307989eecbe7f7b    1
1a3d1cb265de4c4e    1
c14d00955ff5ffd7    1
Name: reference_id_pred, Length: 167, dtype: int64

In [11]:
test_2 = df[:200]

In [12]:
test_2.loc[(test_2['is_reference'] == True),'reference_id'] = test_2['product_id']

In [13]:
test_2

,product_id,name,props,is_reference,reference_id
0,0007302f2fe1d54d,Классическая сплит-система ROYAL CLIMA PANDORA...,"[Класс энергоэффективности\tA, Мощность конд...",False,f497219eb0077f84
1,000740b6c1cc763e,Смартфон Xiaomi Redmi Note 10S NFC 6/128 ГБ RU...,"[Экран\t6.43"" (2400x1080) AMOLED 60 Гц, 4 каме...",True,000740b6c1cc763e
2,0039af5efceac4ab,Холодильник Бирюса 118,[Мощность замораживания 4 кг/сутки],False,28085e941cde1639
3,004f2158acb8165c,ASUS TUF-GTX1660S-O6G-GAMING Видеокарта,"[Объем видеопамяти\t6144 МБ, Частота памяти\...",False,9afe55bb4bf1e8a8
4,005cddb29e1677ec,"Кофемашина Saeco Lirika One Touch Cappuccino, ...","[Приготовление капучино\tавтоматическое, Мате...",False,1f21918ceb5d345c
...,...,...,...,...,...
195,0ecb1b5c4f68b5b4,Робот-пылесосы Xiaomi Mi Roborock S5 Max Black...,"[Управление со смартфона\tда, Объем контейнера...",False,3edadb7a2d627f65
196,0ed52a27fbd2d716,Наушники TWS беспроводные Honor Choice Earbuds...,[Количество микрофонов\t2],False,8f9f7a8f4b112f15
197,0eee48dbce50d9f6,"Смарт-часы Xiaomi Mi Watch 2 Lite, син, BHR5440GL","[Емкость аккумулятора\t262 мА·ч, Совместимос...",False,d3f1c49998c771f3
198,0ef571d3ccb42e1a,Посудомоечная машина встраиваемая Candy CDIH 2...,"[Таймер отсрочки запуска\tесть, Тип\tузкая, Т...",False,d7d28d1201ba8bde
199,0ef5e4c8ad4bbff6,"AMD FX-4300, OEM","[Количество потоков\t4, Объем кэша L2/L3\t4 М...",False,c14d00955ff5ffd7

In [14]:
test_all = pd.merge(test_2, test_pred, how = 'left', left_on='product_id', right_on='id')

In [15]:
test_all.sample(3)

,product_id,name,props,is_reference,reference_id,id,reference_id_pred
101,06db57f6264dd195,Смартфон Xiaomi Redmi Note 11 Pro 128Gb 8Gb го...,"[Оперативная память\t8 ГБ, Аккумулятор\t5000 м...",False,abe138723279f9af,06db57f6264dd195,abe138723279f9af
80,0568dfb9f958d011,Ноутбук Lenovo IdeaPad 3-15 / Ryzen 5 4500U / ...,"[Видеокарта встроенная, AMD Radeon Graphics]",False,01378fa92f901df5,0568dfb9f958d011,01378fa92f901df5
189,0e55ae06be9f08c3,Процессор Intel Core i5-12400 CM8071504555317 ...,[Интегрированная графика\tUHD Graphics 730 1...,False,f3218fffa4c09614,0e55ae06be9f08c3,f3218fffa4c09614

In [16]:
test_all['pred'] = 0

In [17]:
td = []

for i in test_all.index:
    test_all.loc[(test_all.index == i),['pred']] = (test_all.loc[(test_all.index == i),
    'reference_id'] == test_all.loc[(test_all.index == i),'reference_id_pred'])

#test_all['pred'] = [test_all['reference_id'] == test_all['reference_id_pred']]

In [18]:
test_all['pred'].value_counts()

True     194
False      6
Name: pred, dtype: int64