In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
DIR = 'D:/AgoraHack/agorahack-case1-team0/'

with open('./agora_hack_products/agora_hack_products.json', encoding='utf-8') as f:
   prdct = json.load(f)

df = pd.DataFrame.from_dict(prdct, orient='columns')

In [3]:
df.sample(3)

,product_id,name,props,is_reference,reference_id
2283,b3fc1fc71be2c98b,Отдельностоящая микроволновая печь Samsung MS2...,[Внутреннее покрытие камеры\tбиокерамическая э...,False,bd828d1ddcec8c48
401,1f623b7666649d0d,Кухонные плиты Olto Индукционная плитка OLTO H...,"[Доп. функции\tтаймер, Защитное отключение кон...",False,74d0d86e83e8cfbd
2284,b3fed46da4ff0dc2,"Монитор LENOVO ThinkVision E20-20 19.5"" Black",[Яркость 250 кд/м2],False,647995c157f7d99a

In [4]:
test = df.drop(['is_reference', 'reference_id'], axis = 1)

In [5]:
test.sample()

,product_id,name,props
1498,7528282a51740c61,Наушники Mi In-Ear Headphones Basic Black HSEJ...,"[Вес\t14 г, Конструкция\tвнутриканальные, Импе..."

In [6]:
with open('./output/test_answer_2.json', encoding='utf-8') as f:
   tst = json.load(f)

test_pred = pd.DataFrame.from_dict(tst, orient='columns')

In [7]:
test_pred.sample()

                  id      reference_id
23  01a896d8507b1519  698c2d3015a71ee7

In [8]:
test_pred = test_pred.rename (columns= {'reference_id': 'reference_id_pred'})

In [9]:
test_pred.shape

(200, 2)

In [10]:
test_pred['reference_id_pred'].value_counts()

74d0d86e83e8cfbd    4
8f9c8fcf9cb2862c    3
05cb692a7fd6c0e6    3
6ba3b74a1ca138cf    2
f1d7a6de205f4c9e    2
                   ..
a51a43ae8ef6ec5d    1
46889124439ddfa4    1
d307989eecbe7f7b    1
1a3d1cb265de4c4e    1
c14d00955ff5ffd7    1
Name: reference_id_pred, Length: 166, dtype: int64

In [11]:
test_2 = df[:200]

In [12]:
test_2.loc[(test_2['is_reference'] == True),'reference_id'] = test_2['product_id']

In [13]:
test_2

,product_id,name,props,is_reference,reference_id
0,0007302f2fe1d54d,Классическая сплит-система ROYAL CLIMA PANDORA...,"[Класс энергоэффективности\tA, Мощность конд...",False,f497219eb0077f84
1,000740b6c1cc763e,Смартфон Xiaomi Redmi Note 10S NFC 6/128 ГБ RU...,"[Экран\t6.43"" (2400x1080) AMOLED 60 Гц, 4 каме...",True,000740b6c1cc763e
2,0039af5efceac4ab,Холодильник Бирюса 118,[Мощность замораживания 4 кг/сутки],False,28085e941cde1639
3,004f2158acb8165c,ASUS TUF-GTX1660S-O6G-GAMING Видеокарта,"[Объем видеопамяти\t6144 МБ, Частота памяти\...",False,9afe55bb4bf1e8a8
4,005cddb29e1677ec,"Кофемашина Saeco Lirika One Touch Cappuccino, ...","[Приготовление капучино\tавтоматическое, Мате...",False,1f21918ceb5d345c
...,...,...,...,...,...
195,0ecb1b5c4f68b5b4,Робот-пылесосы Xiaomi Mi Roborock S5 Max Black...,"[Управление со смартфона\tда, Объем контейнера...",False,3edadb7a2d627f65
196,0ed52a27fbd2d716,Наушники TWS беспроводные Honor Choice Earbuds...,[Количество микрофонов\t2],False,8f9f7a8f4b112f15
197,0eee48dbce50d9f6,"Смарт-часы Xiaomi Mi Watch 2 Lite, син, BHR5440GL","[Емкость аккумулятора\t262 мА·ч, Совместимос...",False,d3f1c49998c771f3
198,0ef571d3ccb42e1a,Посудомоечная машина встраиваемая Candy CDIH 2...,"[Таймер отсрочки запуска\tесть, Тип\tузкая, Т...",False,d7d28d1201ba8bde
199,0ef5e4c8ad4bbff6,"AMD FX-4300, OEM","[Количество потоков\t4, Объем кэша L2/L3\t4 М...",False,c14d00955ff5ffd7

In [14]:
test_all = pd.merge(test_2, test_pred, how = 'left', left_on='product_id', right_on='id')

In [15]:
test_all.sample(3)

,product_id,name,props,is_reference,reference_id,id,reference_id_pred
39,0295babfe47a46b9,Samsung SM-A336E Galaxy A33 5G 128 6Gb черный ...,"[Степень защиты\tIP67, Экран\t6.4"" (2400x10...",False,161fca3b6bcf5fcc,0295babfe47a46b9,161fca3b6bcf5fcc
173,0c8996c6d591f25f,"Фен профессиональный REDMOND RF-528, 1500Вт","[Вес\t400 г, Насадки\tконцентратор, Длина сет...",False,72568b8dd31ed9b7,0c8996c6d591f25f,72568b8dd31ed9b7
158,0be9800a9a538231,"50"" Телевизор Samsung UE50AU7500U 2021 LED, HD...","[Диагональ\t50"", Разрешение HD\t4K UHD, Частот...",True,0be9800a9a538231,0be9800a9a538231,d75d646df7e9e2bb

In [16]:
test_all['pred'] = 0

In [27]:
td = []

for i in test_all.index:
    test_all.loc[(test_all.index == i),['pred']] = (test_all.loc[(test_all.index == i),
    'reference_id'] == test_all.loc[(test_all.index == i),'reference_id_pred'])

#test_all['pred'] = [test_all['reference_id'] == test_all['reference_id_pred']]

In [28]:
test_all['pred'].value_counts()

True     192
False      8
Name: pred, dtype: int64